

/* Barre supérieure */
#topHbox {
    -fx-background-color: #388E3C; /* Vert foncé */
    -fx-padding: 10px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

/* Logo */
#logo {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 5);
}

/* Titres des sections */
.planification-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #2E7D32; /* Vert foncé */
}

/* Liste de l'historique des visites */
#listViewHoldVisites {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C8E6C9; /* Vert clair */
    -fx-border-radius: 8px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 3);
}

/* Liste des nouvelles visites */
#listViewNewVistes {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #C8E6C9; /* Vert clair */
    -fx-border-radius: 8px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 3);
}
